BeautifulSoup==3.2.1
Django==1.3.1
PIL==1.1.7
South==0.7.3
django-admin-tools==0.4.1
-e git://github.com/bianchimro/django-blog-zinnia.git@29c75d6997f7b29d5e3dc5b991d733eda03a376f#egg=django_blog_zinnia-dev
django-classy-tags==0.3.4.1
django-cms==2.2
django-cms-fragments==0.0.3
django-debug-toolbar==0.9.4
django-fancy-autocomplete==0.1a1
django-inline-ordering==0.1.3
django-mptt==0.5.2
django-registration==0.7
django-sekizai==0.5
django-tagging==0.3.1
django-tinymce==1.5.1b2
django-xmlrpc==0.1.3
html5lib==0.95
imagestore==2.7.0
pyparsing==1.5.6
simple-translation==0.8.6
sorl-thumbnail==11.12
wsgiref==0.1.2
