{% extends "base_page.html" %}
{% load cms_tags sekizai_tags menu_tags %}


{% block main %}
<div class="row">
    <div class="span3">
    {%if current_page.has_children %}
    {% include "menu_templates/submenu.html" %}
    {% endif %}  
    <!-- for zinnia -->
    {% block sidebar %}{% endblock %}
    <!--   -->
    {% placeholder column_1 %}
    </div>     
    <div class="span9">
    {% placeholder column_2 %}
    {% block content %}
    {% endblock %}
    </div>     

</div>

<div class="row">
    <div class="span12">
    {% placeholder bottom %}
    </div>     
</div>
{% endblock %}